.ShoppingCart {
    margin-top: 20px;
    padding: 20px;
    width: 60%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.item-product {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #b0d9ff;
    border-radius: 25% 10%;
}

.image-title {

    display: flex;
    gap: 10px
}

.image-title img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
    background-color: #fff;
}

.inside-Section {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.title {
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}

.inside-Section p {
    font-family: 'Roboto', sans-serif;

}

.quantity {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 15px;
}

.quantity h3 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shantell Sans', cursive;
    font-size: 1.1rem;
}

.total {
    text-align: end;
    padding: 5px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

.remove {
    border: none;
    background: none;
    cursor: pointer;
    height: 22px;
    width: 33px;
    color: #015e86;
}

.cart-image {
    width: 30%;
}

.shop {
    padding: 5px 15px;
    background-color: rgb(48, 66, 228);
    color: #fff;
    border-radius: 25px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    margin-block: 25px;
}

.ending {
    margin-top: 15px;
    padding-inline: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    padding: 8px 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    gap: 4px;
    background-color: rgb(48, 66, 228);
    border: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.29) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.2s;
}

.icon {
    color: #fff;
}

.remove:hover {
    color: #00293b;
}

.item-product:hover {
    transform: scale(1.01, 1.04);
}

.btn:hover {
    background-color: rgb(1, 20, 192);
}